APP_PORT=8080
APP_HOST="localhost"

DATABASE_URL="postgresql://postgres.osownzazgassdliijwpd:12–4bbv0BA(@aws-1-eu-north-1.pooler.supabase.com:6543/postgres"

# Подключение для миграций (session-пулер :5432, не transaction-пулер :6543)
MIGRATION_DATABASE_URL="postgresql://postgres.osownzazgassdliijwpd:12–4bbv0BA(@aws-1-eu-north-1.pooler.supabase.com:5432/postgres"

ACCESS_TOKEN_SECRET=your-access-token-secret
ACCESS_TOKEN_EXPIRES_IN=2d

BCRYPT_SALT_ROUNDS=10

REDIS_URL=redis://default:my_secure_password@localhost:6379

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=hleb4ikplay@gmail.com
SMTP_PASSWORD="thbf rpwe supk jrra"
SMTP_SECURE=true