APP_PORT=8080
APP_HOST="localhost"

DATABASE_URL="postgresql://postgres.osownzazgassdliijwpd:12–4bbv0BA(@aws-1-eu-north-1.pooler.supabase.com:6543/postgres"

ACCESS_TOKEN_SECRET=your-access-token-secret
ACCESS_TOKEN_EXPIRES_IN=2d

BCRYPT_SALT_ROUNDS=10
APP_PORT=8080

