APP_PORT=8080

SUPABASE_URL="https://osownzazgassdliijwpd.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sb_publishable_cd28dVW7-BUtfzH0BCJ2QA_QnXgyZhJ"

DATABASE_URL="postgresql://postgres.osownzazgassdliijwpd:12–4bbv0BA(@aws-1-eu-north-1.pooler.supabase.com:6543/postgres"

JWT_SECRET="ilyas_key_for_online_library"